/*  Profile Actions (buttons)  */
.actionsRow {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: max(3vw, 2rem);
    padding: 1rem;
    background-color: #ca5fff;
}

.actionsTitle {
    color: #2731bb;
    padding-bottom: 0.6rem;
    text-align: center;
}


/*  Profile Button  */
.actionButton {
    padding: 1.2rem 1.5rem;
    border: none;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: "Sanchez", Arial, sans-serif;
    transition: all 0.5s ease;
    cursor: pointer;
}

.actionButton:hover {
    background-color: #4bae92;
    color: white;
    transform: scale(1.1);
}

.actionButton:active {
    transform: scale(1.3);
}